<div class="login-container">
  <h1> Login </h1>
  <%= form_for :login do |f| %>
    <div>
      <%= f.label :identity %>
      <%= f.text_field :identity, autofocus: true %>
    </div>
    <div>
      <%= f.label :password %>
      <%= f.text_field :password %>
    </div>
    <div>
      <%= f.submit 'Login' %>
    </div>
  <% end %>
</div>

